ul{
    display: inline-block;
    margin-left: 30px;
    margin-top: 60px;
    width: 95%;
    list-style-type: none;
    text-align: center;
}

.rojo{
    word-wrap: break-word;
    text-align:left;
    width: 350px;
    padding-left: 5px;
    background-color: rgb(233, 150, 150);
    margin-top: 15px;
    border: 3px violet solid;
}

.verde{
    word-wrap: break-word;
    text-align:left;
    width: 350px;
    padding-left: 5px;
    background-color: rgb(200, 235, 179);
    margin-top: 15px;
    border: 3px violet solid;
}

.azul{
    word-wrap: break-word;
    text-align:left;
    width: 350px;
    padding-left: 5px;
    background-color: rgb(198, 229, 241);
    margin-top: 15px;
    border: 3px violet solid;
}

.titulo{
    font-weight: 650;
}

.descripcion{
    font-weight: normal;
}

.lista{
    display: inline-table;
    padding-right: 30px;
}

.close{
    margin-right: 5px;
    
}

.adicionar{
    width: 100%;
    text-align: center;
}

.boton{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 350px;
    
}
